<h1 class="text-center">My <%= @list.name %></h1>
<div class="container">
<button class="btn"><%= link_to "add a bookmark", new_list_bookmark_path(@list) %></button>

  <ul class="list-group">
    <% @list.bookmarks.each do |bookmark| %>
      <li class="list-group-item"><%= bookmark.movie.title%></li>
      <li class="list-group-item"><%= bookmark.comment%></li>
      <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>
  </ul>
</div>
